html *::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: transparent;
}

@media (min-width: 1024px) {
    html *::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }
}

html *::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
}

.table td,
.table th {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 28px;
    vertical-align: middle;
}

.table td:first-child,
.table th:first-child {
    padding-right: 0;
    padding-left: 24px;
}

/*.table td:last-child,
.table th:last-child {
    padding-left: 0;
    padding-right: 24px;
}*/

.table td:nth-child(2),
.table th:nth-child(2) {
    padding-left: 24px;
}

.table {
    position: relative;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    white-space: nowrap
}

.table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.disabled {
    user-select: none;
    opacity: .8;
}

.hoverable:hover {
    background-color: #f1f2f3;
}