<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>ZEIT World DNS Panel</title>
    <link rel="shortcut icon" type="image/ico" href="https://cdn.jsdelivr.net/npm/skx@0.0.1">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/npm/skx@0.0.1/favicon/favicon-32x32.png">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/suka.css@0.2.0">
    <link rel="stylesheet" href="/style.min.css">
</head>

<body class="sk-bg-gray sk-pb-8">
    <nav class="navbar navbar-expand-lg sk-bg-transparent sk-pt-5">
        <div class="container">
            <div class="sk-ml-3 d-lg-none"></div>
            <h1 class="h5 sk-mb-0 navbar-brand sk-text-normal">
                <img src="/assets/zeit-logo.svg" class="sk-pr-2"> World Panel
            </h1>

            <div class="mr-auto"></div>
            <button class="navbar-toggler sk-text-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                </svg>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto sk-pl-3">
                    <li class="nav-item">
                        <a class="nav-link sk-text-dark sk-text-bold" href="#" onclick="logout()">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sk-text-dark" href="https://github.com/SukkaW/zeit-world-panel" target="_blank"
                            rel="noreferrer noopenner">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sk-text-dark" href="https://zeit.co/api#endpoints/domains" target="_blank"
                            rel="noreferrer noopenner">API</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container sk-pt-8">
        <div class="card sk-mt-8 sk-mb-4 sk-no-border sk-shadow-2">
            <div class="card-body">
                <h2 class="h4 card-title" style="line-height: 38px">
                    Zone List
                    <button type="button" class="btn btn-primary sk-fr" data-toggle="modal" data-target="#new-domain">Add
                        New Domain</button>
                </h2>
                <p class="card-text">There are <span id="list-domain-num">0</span> domain(s) at ZEIT</p>

            </div>
        </div>
        <div class="sk-shadow-2 table-container">
            <table class="table table-hover sk-mb-0 bg-white">
                <thead class="sk-text-dark sk-font-14">
                    <tr>
                        <th class="sk-text-normal" scope="col">Domain</th>
                        <th class="sk-text-normal" scope="col">Type</th>
                        <th class="sk-text-normal" scope="col">Action</th>
                        <th class="sk-text-normal" scope="col">Added</th>
                    </tr>
                </thead>
                <tbody id="domainListBody">
                    <tr>
                        <td class="sk-text-center sk-text-gray sk-text-bold" id="list-no-domain" colspan="4">NO DOMAIN
                            TO SHOW</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="msg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="msg-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="msg-body"></div>
            </div>
        </div>
    </div>

    <!-- new Domain Modal -->
    <div class="modal fade" id="new-domain" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a domain to ZEIT World DNS</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Domain</label>
                        <input type="text" class="form-control" id="new-domain-name" placeholder="Enter your domain"
                            required>
                    </div>
                    <button class="btn btn-block btn-primary" onclick="newDomain()">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bdtpl@1.0.6"></script>
    <script src="https://cdn.jsdelivr.net/npm/modal-vanilla@0.4.0"></script>
    <script id="domain-item-tpl" type="text/html">
        <tr>
            <td class="sk-text-bold"><a href="/record/?domain=<%- name %>"><%- name %></a></td>
            <td><%- serviceType %></td>
            <td>
            <a class="btn btn-link sk-p-0" href="/record/?domain=<%- name %>">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#00ad9f" d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
            </a>
            <button type="button" class="btn btn-link sk-p-0" data-id="<%- name %>" id="<%- name %>-del-btn" onclick="confirmDeleteDomain(this)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path fill="#e85600" d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
                    <path fill="none" d="M0 0h24v24H0z" />
                </svg>
            </button>
            </td>
            <td><%- new Date(created).toLocaleDateString() %></td>
        </tr>
    </script>
    <script src="/index.min.js"></script>
    <script>getDomainList()</script>
</body>

</html>